.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formDiv{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 30px;
}
.formDiv input{
  font-size: 1rem;
  padding: 2px 5px;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.formDiv label{
  margin-bottom: 5px;
}
.formDiv button{
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(54, 114, 255);
  padding: 5px;
  appearance: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}
.errorDiv{
  margin-top: 30px;
  background-color: rgb(230, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  animation: blink 0.5s infinite ease-in-out;
}

@keyframes blink{
  0% {
    background-color: rgb(230, 0, 0);
  }
  100%{
    background-color: rgba(230, 0, 0, 0);
  }
}